In [1]:
a=10
print(a)

10

In [2]:
import os
os.getcwd()

'C:\\Users\\ajay'

In [4]:
os.chdir(r'\Users\ajay\Desktop')

In [5]:
os.getcwd()

'C:\\Users\\ajay\\Desktop'

In [6]:
os.mkdir('Training')

In [8]:
os.chdir('Training')

In [9]:
os.getcwd()

'C:\\Users\\ajay\\Desktop\\Training'

In [1]:
import pandas as pd
employees = pd.DataFrame({
    'emp_id': [101, 102, 103, 104],
    'emp_name': ['Ajay', 'Navya', 'Rahul', 'Sebin'],
    'dept_id': [1, 2, 1, 3]
})
print(employees)

   emp_id emp_name  dept_id
0     101     Ajay        1
1     102    Navya        2
2     103    Rahul        1
3     104    Sebin        3

In [2]:
departments = pd.DataFrame({
    'dept_id': [1, 2, 4],
    'dept_name': ['HR', 'Engineering', 'Marketing']
})
print(departments)

   dept_id    dept_name
0        1           HR
1        2  Engineering
2        4    Marketing

In [10]:
result = pd.merge(employees, departments, on='dept_id', how='left')
print(result)

   emp_id emp_name  dept_id    dept_name
0     101     Ajay        1           HR
1     102    Navya        2  Engineering
2     103    Rahul        1           HR
3     104    Sebin        3          NaN

In [8]:
result.isna().sum()

emp_id       0
emp_name     0
dept_id      0
dept_name    1
dtype: int64

In [4]:
result = pd.merge(employees, departments, on='dept_id', how='right')
print(result)

   emp_id emp_name  dept_id    dept_name
0   101.0     Ajay        1           HR
1   103.0    Rahul        1           HR
2   102.0    Navya        2  Engineering
3     NaN      NaN        4    Marketing

In [5]:
result = pd.merge(employees, departments, on='dept_id', how='inner')
print(result)

   emp_id emp_name  dept_id    dept_name
0     101     Ajay        1           HR
1     102    Navya        2  Engineering
2     103    Rahul        1           HR

In [11]:
result = pd.merge(employees, departments, on='dept_id', how='outer')
print(result)

   emp_id emp_name  dept_id    dept_name
0   101.0     Ajay        1           HR
1   103.0    Rahul        1           HR
2   102.0    Navya        2  Engineering
3   104.0    Sebin        3          NaN
4     NaN      NaN        4    Marketing