In [15]:
a=1
b=2
# print("value of a is",a)
# print("value of b is",b)
print("value of a {} and value of b {}".format(a,b)) #pass by reference
print("value of a {} and value of b {}".format(b,a))
print("value of a {1} and value of b {0}".format(b,a))
print(a,b)

value of a 1 and value of b 2
value of a 2 and value of b 1
value of a 1 and value of b 2
1 2

In [13]:
my="country"
name_is="India"
print("i love my {1} , name_is {0}".format(name_is,my))

i love my country , name_is India

In [17]:
#pass by value
print("my name is {} {} from {}".format("Ajay","Rajendran","Kottayam"))

my name is Ajay Rajendran from Kottayam

In [19]:
#input by user

num = input("Enter a value : ")
print(type(num)) #by default input function accept string values
print(num)

Enter a value :  7

<class 'str'>
7

In [20]:
#numeric imput from user

num = int (input("Enter a value : "))
print(type(num))
print(num)

Enter a value :  9

<class 'int'>
9

In [22]:
#Enter multiple value
x = input("Enter the 1st digit of PIN no: "), input("Enter the 2nd digit of PIN no: "), input("Enter the 3rd digit of PIN no: "), input("Enter the 4th digit of PIN no: ")
print(x)
print(type(x))

Enter the 1st digit of PIN no:  3
Enter the 2nd digit of PIN no:  4
Enter the 3rd digit of PIN no:  5
Enter the 4th digit of PIN no:  6

('3', '4', '5', '6')
<class 'tuple'>

Operators

In [27]:
a =True
b=False

print(a,b)
print(not b)
print(a or b)
print(a and b)

True False
True
True
False

In [36]:
#identity operator
a =5
b=5
print(a is b) # if it returns True both a and b conatins same value

True

In [35]:
l1 = [1,2,3]
l2 = [1,2,3]
print(id(l1))
print(id(l2))
print(l1 is l2) #the nature of list is dynamic so it will not be same.Every list have unique id

1548604984192
1548604533696
False

In [38]:
#membership operator

l1 = {1,2,3,4}
print(type(l1))
print(5 in l1) #

<class 'set'>
False

In [39]:
l2={2:"a" , 1:"b"}
print(1 in l2) #it checks the key 1 is present in the dictionary

True

FlowChart

In [42]:
x = 10
print("x is positive no." if x>0 else "x is negative no.")

x is positive no.

In [43]:
#case 1

num =10
if None: #None,0,-1) None : it will not allow to get into loop
    print("num is positive")
print("This will print always")

This will print always

In [44]:
#nested if

num =19
if (num>=10 and 20>num):
    print("1st Division")
elif (num>10 and 20<num):
    print("2nd Division")
elif (num>10 and 12>=num):
    print("3rd Division")
else:
    print("Fail")

1st Division

In [46]:
#largest of three numbers
#method 1
num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
num3=int(input("Enter the third number"))

if (num1==num2==num3):
    print("All numbers are same")
elif (num1>num2 and num1>num3):
    print(num1,"is large")
elif (num2>num1 and num2>num3):
    print(num2,"is large")
else:
    print(num3,"is large")

Enter the first number 6
Enter the second number 6
Enter the third number 6

All numbers are same

In [47]:
#largest of three numbers
#method 1

num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
num3=int(input("Enter the third number"))

print("Largest number is ",max(num1,num2,num3))

Enter the first number 2
Enter the second number 5
Enter the third number 3

Largest number is  5

In [48]:
#case 3
num =20
if (num>10 or 10>num):
    if (num>20):
        print("num is positive")
    else:
        print("2nd division")
else:
    print("fail")

2nd division

In [50]:
a = [10,20,30,40,50]
product = 2

for ele in a:
    product*=ele
    print(product)

20
400
12000
480000
24000000

In [52]:
product =2
for i in range(10,51,10):
    product*=i
    print(product)
else:
    print("Loop over")

20
400
12000
480000
24000000
Loop over

In [53]:
x = [1,2,3,4]
for data in x:
    print(data)
else:
    print("no data available in x")

1
2
3
4
no data available in x

In [55]:
for i in range(1,11,1):
    if (i%2==0):
        print("Even ",i)
    else:
        print("Odd ",i)

Odd  1
Even  2
Odd  3
Even  4
Odd  5
Even  6
Odd  7
Even  8
Odd  9
Even  10

In [ ]:
#palindrome
word=input("Enter the word :")
result=""
for ch in word:

In [57]:
#prime number
def check_prime(num):
    lst=[i if num%i==0 for i in range(2,num)]
    print("Prime" if len(lst)==0 else "Not prime")

num=int(input("Enter the number :"))
check_prime(num)
is_prime=True
if num==1:
    print("Not prime")
else:
    for i in range(2,num):
        if (num%i==0):
            is_prime=False
            break
    if is_prime:
        print(num," is prime")
    else:
        print(num," is not prime")

Enter the number : 7

7  is prime

# PALINDROME

In [7]:
#palindrome
def check_palindrome(word):
    result=""
    for i in range(len(word)-1,-1,-1):
        result+=word[i]
    if result==word:
        print("Palindrome")
    else:
        print("Not palindrome")

def check_palindrome1(word):
    print ("palindrome" if word==word[::-1] else "Not palindrome")
        
word=input("Enter the word :").lower()
check_palindrome1(word)

Enter the word : dad

palindrome

In [59]:
#function

def show_name(name):
    """
    This function show name
    """
    print("The name is ",str(name))

show_name("Ajay")

The name is  Ajay

In [64]:
def get_sum(lst):
    """
    returns sum of elements of a list
    """

    total=0
    for num in lst:
        total+=num
        print(total)
    return total

result=get_sum([1,2,3,4])
print(result)

#print(total) #shows an error because it is defined inside the function
print(get_sum.__doc__)
# print(get_sum.total)

1
3
6
10
10

    returns sum of elements of a list

AttributeError: 'function' object has no attribute 'total'

In [65]:
global_variable="global variable"

def sample_function():
    local_variable="local variable"
    print(global_variable)
    print(local_variable)
    
sample_function()

global variable
local variable

In [74]:
#hcf
def find_hcf(a,b):
    small=a if a<b else b
    hcf=0
    
    for i in range(1,small+1):
        if(a%i==0 and b%i==0):
            hcf=i
    print(hcf)

a=int(input("Enter the first number :"))
b=int(input("Enter the second number :"))
find_hcf(a,b)

Enter the first number : 98
Enter the second number : 56

14

python builtin functions

# 1.abs()

In [75]:
a=-50
print(abs(a))

50

In [79]:
#all()

lst=[1,2,3,4]
print(all(lst))

lst=[0]
print(all(lst))

lst=[1,-2]
print(all(lst))

lst=[]
print(all(lst))

True
False
True
True

In [80]:
#dir displays list of valid attributes

lst=[]
print(type(lst))
dir(lst)

<class 'list'>

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [81]:
#divmod takes two inputs and returns output quotient and reminder in the form of tuple

divmod(12,5)

(2, 2)

In [82]:
#enumerate
lst=[1,2,3]
for index,num in enumerate(lst,start=1):
    print("index {0} has value {1} ".format(index,num))

index 0 has value 1
index 1 has value 2
index 2 has value 3

In [86]:
def check_positive_no(num):
    if num>0:
        return num
lst1_list=range(-10,10)

lst2_positive=list(filter(check_positive_no,lst1_list))
# lst2_positive=list(filter(lambda x:x>0,lst1_list))
# lst2_positive=list(filter(lambda n:n%2!=0,lst1_list))

print(lst2_positive)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
#map applies a function to all the items in an i/p list
#syntax map(function to apply,list_of_input)

#case1 
lst = [1,2,3,4]

square=[]
cube=[]

for num in lst:
    square.append(num**2)
    cube.append(num**3)
print(square)
print(cube)

[1, 4, 9, 16]
[1, 8, 27, 64]

In [92]:
# case2
lst = [1,2,3,4]

def square(num):
    return (num**2)

result=list(map(square,[1,2,3,4]))
print(result)


# case 3
squared = list(map(lambda x:x**2,[1,2,3,4]))
print(squared)

[1, 4, 9, 16]
[1, 4, 9, 16]

In [93]:
# reduce () for performing some computations on list and returning the result
# case 1
lst = [1,2,3,4]
product = 1

for num in lst:
    product*=num
print(product)

24

In [95]:
# case 2
from functools import reduce 

def multiply(x,y):
    return x*y

result = reduce(multiply,[1,2,3,4])
print(result)

24

In [96]:
#case 3
result = reduce(lambda x,y:x*y,[1,2,3,4])
print(result)

24

#reduce it work on diuble argument , Map work on argument,filter work on single argument

In [122]:
#calculator
from functools import reduce 

num1=input("Enter the first number :")
if(num1.isdigit()):
    num2=input("Enter the second number :")
    if(num2.isdigit()):
        operators=("+","-","*","/")
        result=0
        op=input("Enter the operator :")
        if op in operators:
            if op=="+":
                result=reduce(lambda x,y:int(x)+int(y),(num1,num2))
            elif op=="-":
                result=reduce(lambda x,y:int(x)-int(y),(num1,num2))
            elif op=="*":
                result=reduce(lambda x,y:int(x)*int(y),(num1,num2))
            elif op=="/":
                if num2!=0:
                    result=reduce(lambda x,y:int(x)/int(y),(num1,num2))
                else:
                    result="undefined"
            print(result)
        else:
            print("Invalid operator")
    else:
        print("Enter only digits....")
else:
    print("Enter only digits....")

Enter the first number : 6
Enter the second number : y

In [ ]:
from functools import reduce 
while (1):
    num1=input("Enter the first number :")
    if