import pandas as pd

ds=pd.read_csv(r"C:\Users\Administrator\Desktop\Training\nyc_weather.csv")
ds.head(10)
ds.tail(30)

In [15]:
ds.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [16]:
ds.events

AttributeError: 'DataFrame' object has no attribute 'events'

In [17]:
ds.Events

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [57]:
ds.shape

(31, 11)

In [18]:
ds.Events.isna() #return True for columns

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15    False
16    False
17    False
18     True
19     True
20     True
21    False
22    False
23    False
24     True
25     True
26    False
27     True
28     True
29     True
30     True
Name: Events, dtype: bool

In [25]:
ds.count()

EST                     31
Temperature             31
DewPoint                31
Humidity                31
Sea Level PressureIn    31
VisibilityMiles         31
WindSpeedMPH            28
PrecipitationIn         31
CloudCover              31
Events                   9
WindDirDegrees          31
dtype: int64

In [21]:
ds.Events.isna().sum()

np.int64(22)

In [26]:
ds.dtypes

EST                      object
Temperature               int64
DewPoint                  int64
Humidity                  int64
Sea Level PressureIn    float64
VisibilityMiles           int64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover                int64
Events                   object
WindDirDegrees            int64
dtype: object

In [27]:
ds.Events.unique()

array([nan, 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

In [28]:
ds.Events.describe()

count        9
unique       3
top       Rain
freq         4
Name: Events, dtype: object

In [30]:
ds['Temperature']

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [34]:
df=ds.Temperature>30
df.sum()

np.int64(22)

In [35]:
df=ds['Temperature']>30
df.sum()

np.int64(22)

In [36]:
ds['Temperature'].max()

np.int64(50)

In [37]:
ds['Temperature'].min()

np.int64(20)

In [40]:
ds['EST'][ds['Events']=="Rain"]

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [44]:
ds['EST'][ds['Humidity']==70]
# ds['EST'][ds['Humidity']>=70]
# ds['EST'][ds['WindSpeedMPH']==7.0]

15    1/16/2016
Name: EST, dtype: object

In [45]:
# ds['EST'][ds['Humidity']==70]
ds['EST'][ds['Humidity']>=70]
# ds['EST'][ds['WindSpeedMPH']==7.0]

8      1/9/2016
9     1/10/2016
15    1/16/2016
22    1/23/2016
Name: EST, dtype: object

In [46]:
# ds['EST'][ds['Humidity']==70]
# ds['EST'][ds['Humidity']>=70]
ds['EST'][ds['WindSpeedMPH']==7.0]

1      1/2/2016
15    1/16/2016
25    1/26/2016
26    1/27/2016
29    1/30/2016
Name: EST, dtype: object

In [50]:
ds['WindSpeedMPH'][ds['WindSpeedMPH'].isna()==False]

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64

In [51]:
ds['WindSpeedMPH'][ds['WindSpeedMPH'].isna()]

9    NaN
10   NaN
21   NaN
Name: WindSpeedMPH, dtype: float64

# Data Structures used in pandas

series and dataframes

# Series

In [55]:
lst = [10,20,30,40,50,60]

s = pd.Series(lst)
print(s,type(s))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64 <class 'pandas.core.series.Series'>

In [69]:

s = pd.Series([10,20,30,40,50,60])
print(s,type(s))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64 <class 'pandas.core.series.Series'>

In [66]:
l1 =[1,2,3]

l2=pd.Series(l1,index=['1st',2,'3rd'],name='c1')
print(l2)

1st    1
2      2
3rd    3
Name: c1, dtype: int64

In [67]:
print(s.loc[0:4])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [71]:
lst=(10,20,30,40,50,60)
s=pd.Series(lst,dtype='float32')
print(s,type(s))

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
dtype: float32 <class 'pandas.core.series.Series'>

In [73]:
print(s[4])

50.0

In [74]:
s.shape

(6,)

In [75]:
lst=[10,"Rossum",34.5,"Author"]

s=pd.Series(lst,index=[1,2,3,4])
print(s,type(s))

1        10
2    Rossum
3      34.5
4    Author
dtype: object <class 'pandas.core.series.Series'>

In [76]:
lst=[10,"Rossum",34.5,"Author"]

s=pd.Series(lst,index=["stno","name","marks","desg"])
print(s,type(s))

stno         10
name     Rossum
marks      34.5
desg     Author
dtype: object <class 'pandas.core.series.Series'>

In [77]:
s['stno']

10

In [79]:
d1={"sub1":"python","sub2":"Java","sub3":"C++"}
print(d1,type(d1))

{'sub1': 'python', 'sub2': 'Java', 'sub3': 'C++'} <class 'dict'>

In [81]:
d1.items()

In [82]:
d1.keys()

dict_keys(['sub1', 'sub2', 'sub3'])

In [83]:
d1.values()

dict_values(['python', 'Java', 'C++'])

In [84]:
d1={"sub1":"python","sub2":"Java","sub3":"C++"}
s=pd.Series(d1)
print(s)

sub1    python
sub2      Java
sub3       C++
dtype: object

In [85]:
s['sub2']

'Java'

# Dataframe

In [87]:
lst = [[1,0,1,3],[10,20,30,40],[40,30,20,10]]
df=pd.Series(lst)
print(df,type(df))

0        [1, 0, 1, 3]
1    [10, 20, 30, 40]
2    [40, 30, 20, 10]
dtype: object <class 'pandas.core.series.Series'>

In [109]:
lst = [[10,'RS'],[20,'JG'],[30,'MCK'],[40,'TRA']]
df=pd.DataFrame(lst)
print(df,"\n",type(df))

    0    1
0  10   RS
1  20   JG
2  30  MCK
3  40  TRA
 <class 'pandas.core.frame.DataFrame'>

In [113]:
df.loc[1::1]

    0    1
1  20   JG
2  30  MCK
3  40  TRA

In [107]:
df.iloc[1:,:]

      Rno Name
20     20   JG
30     30  MCK
Four   40  TRA

In [106]:
df.iloc[3:,:1]

      Rno
Four   40

In [97]:
lst = [[10,'RS'],[20,'JG'],[30,'MCK'],[40,'TRA']]
df=pd.DataFrame(lst,columns=("Rno","Name"),index=['1',20,30,'Four'])
print(df,"\n",type(df))

      Rno Name
1      10   RS
20     20   JG
30     30  MCK
Four   40  TRA
 <class 'pandas.core.frame.DataFrame'>

In [115]:
tpl = ( ("Ajay",25),("Christie",26),("Rahul",25),("Navya",23))
df=pd.DataFrame(tpl,index=[1,'@',3,4],columns=["Name","Age"])
print(df)

       Name  Age
1      Ajay   25
@  Christie   26
3     Rahul   25
4     Navya   23

In [8]:
df['Salary']=[1000,2000,3000,4000] #same number of should be given to salary
print(df)

ValueError: Length of values (4) does not match length of index (816)

In [119]:
df.drop('Salary',axis=1,inplace=True)
print(df)

       Name  Age
1      Ajay   25
@  Christie   26
3     Rahul   25
4     Navya   23

In [121]:
dictdata={"Names":["Ajay","Navya","Rahul","Sebin"],"Subjects":["Python","Java","C","Javascript"],"Ages":[25,23,25,24]}
# dictdata.values()
print(dictdata)

{'Names': ['Ajay', 'Navya', 'Rahul', 'Sebin'], 'Subjects': ['Python', 'Java', 'C', 'Javascript'], 'Ages': [25, 23, 25, 24]}

In [122]:
df=pd.DataFrame(dictdata)
print(df)

   Names    Subjects  Ages
0   Ajay      Python    25
1  Navya        Java    23
2  Rahul           C    25
3  Sebin  Javascript    24

In [123]:
df.shape

(4, 3)

In [124]:
df=pd.DataFrame(dictdata,index=[1,2,'e',4])
print(df)

   Names    Subjects  Ages
1   Ajay      Python    25
2  Navya        Java    23
e  Rahul           C    25
4  Sebin  Javascript    24

# Creating an object DataFrame by Using Series object

In [125]:
l1=[10,20,30,40]
sdata=pd.Series(l1)
print(sdata)

0    10
1    20
2    30
3    40
dtype: int64

In [128]:
df=pd.DataFrame(sdata,columns=["Number"])
print(df)

   Number
0      10
1      20
2      30
3      40

In [138]:
sdata2=pd.Series(['1st','2nd','3rd','4rth'])
sdata2.iloc[2:,:1]

IndexingError: Too many indexers

In [132]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
d1={"totmark":[100,200,150,189],}

In [139]:
df.iloc[3:,:]

   Number
3      40

In [141]:
df['Extra']=[200,400,600,300]

In [142]:
print(df)

   Number  Salary  Extra
0      10    1000    200
1      20    2000    400
2      30    3000    600
3      40    4000    300

In [7]:
df['Total_Salary']=df['Salary']+df['Extra']
print(df)

KeyError: 'Salary'

In [144]:
df = df.rename(columns={'Number': 'Names'})

In [145]:
print(df)

   Names  Salary  Extra  Total_Salary
0     10    1000    200          1200
1     20    2000    400          2400
2     30    3000    600          3600
3     40    4000    300          4300

In [146]:
df['Names']=['Ajay','Rahul','Navya','Sebin']

In [147]:
print(df)

   Names  Salary  Extra  Total_Salary
0   Ajay    1000    200          1200
1  Rahul    2000    400          2400
2  Navya    3000    600          3600
3  Sebin    4000    300          4300

In [148]:
df=df.sort_values(['Names'],ascending=True)
print(df)

   Names  Salary  Extra  Total_Salary
0   Ajay    1000    200          1200
2  Navya    3000    600          3600
1  Rahul    2000    400          2400
3  Sebin    4000    300          4300

In [150]:
df=df.sort_values(['Total_Salary'],ascending=False)
print(df)

   Names  Salary  Extra  Total_Salary
3  Sebin    4000    300          4300
2  Navya    3000    600          3600
1  Rahul    2000    400          2400
0   Ajay    1000    200          1200

In [153]:
df=df.sort_values(['index'],ascending=True)

KeyError: 'index'

In [154]:
os.getcwd()

'C:\\Users\\Administrator\\Desktop\\Training'

In [9]:
import pandas as pd
ipldf=pd.read_csv(r"\Users\Administrator\Desktop\Training\IPL Matches 2008-2020.csv")
print(ipldf)

          id        city        date player_of_match  \
0     335982   Bangalore  2008-04-18     BB McCullum
1     335983  Chandigarh  2008-04-19      MEK Hussey
2     335984       Delhi  2008-04-19     MF Maharoof
3     335985      Mumbai  2008-04-20      MV Boucher
4     335986     Kolkata  2008-04-20       DJ Hussey
..       ...         ...         ...             ...
811  1216547       Dubai  2020-09-28  AB de Villiers
812  1237177       Dubai  2020-11-05       JJ Bumrah
813  1237178   Abu Dhabi  2020-11-06   KS Williamson
814  1237180   Abu Dhabi  2020-11-08      MP Stoinis
815  1237181       Dubai  2020-11-10        TA Boult

                                          venue  neutral_venue  \
0                         M Chinnaswamy Stadium              0
1    Punjab Cricket Association Stadium, Mohali              0
2                              Feroz Shah Kotla              0
3                              Wankhede Stadium              0
4                                  Eden Gardens              0
..                                          ...            ...
811         Dubai International Cricket Stadium              0
812         Dubai International Cricket Stadium              0
813                        Sheikh Zayed Stadium              0
814                        Sheikh Zayed Stadium              0
815         Dubai International Cricket Stadium              0

                           team1                        team2  \
0    Royal Challengers Bangalore        Kolkata Knight Riders
1                Kings XI Punjab          Chennai Super Kings
2               Delhi Daredevils             Rajasthan Royals
3                 Mumbai Indians  Royal Challengers Bangalore
4          Kolkata Knight Riders              Deccan Chargers
..                           ...                          ...
811  Royal Challengers Bangalore               Mumbai Indians
812               Mumbai Indians               Delhi Capitals
813  Royal Challengers Bangalore          Sunrisers Hyderabad
814               Delhi Capitals          Sunrisers Hyderabad
815               Delhi Capitals               Mumbai Indians

                     toss_winner toss_decision                       winner  \
0    Royal Challengers Bangalore         field        Kolkata Knight Riders
1            Chennai Super Kings           bat          Chennai Super Kings
2               Rajasthan Royals           bat             Delhi Daredevils
3                 Mumbai Indians           bat  Royal Challengers Bangalore
4                Deccan Chargers           bat        Kolkata Knight Riders
..                           ...           ...                          ...
811               Mumbai Indians         field  Royal Challengers Bangalore
812               Delhi Capitals         field               Mumbai Indians
813          Sunrisers Hyderabad         field          Sunrisers Hyderabad
814               Delhi Capitals           bat               Delhi Capitals
815               Delhi Capitals           bat               Mumbai Indians

      result  result_margin eliminator method      umpire1         umpire2
0       runs          140.0          N    NaN    Asad Rauf     RE Koertzen
1       runs           33.0          N    NaN    MR Benson      SL Shastri
2    wickets            9.0          N    NaN    Aleem Dar  GA Pratapkumar
3    wickets            5.0          N    NaN     SJ Davis       DJ Harper
4    wickets            5.0          N    NaN    BF Bowden     K Hariharan
..       ...            ...        ...    ...          ...             ...
811      tie            NaN          Y    NaN  Nitin Menon      PR Reiffel
812     runs           57.0          N    NaN  CB Gaffaney     Nitin Menon
813  wickets            6.0          N    NaN   PR Reiffel          S Ravi
814     runs           17.0          N    NaN   PR Reiffel          S Ravi
815  wickets            5.0          N    NaN  CB Gaffaney     Nitin Menon

[816 rows x 17 columns]

In [156]:
pip install SciPy

Collecting SciPy
  Downloading scipy-1.15.2-cp311-cp311-win_amd64.whl (41.2 MB)
     --------------------------------------- 41.2/41.2 MB 11.1 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\program files\python311\lib\site-packages (from SciPy) (2.2.5)
Installing collected packages: SciPy
Successfully installed SciPy-1.15.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
ipldf.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [11]:
ipldf.head(10)
ipldf.tail(30)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
786,1216522,Dubai,2020-10-17,AB de Villiers,Dubai International Cricket Stadium,0,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,bat,Royal Challengers Bangalore,wickets,7.0,N,NaN,AK Chaudhary,Nitin Menon
787,1216523,Abu Dhabi,2020-10-10,KD Karthik,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,2.0,N,NaN,UV Gandhe,CB Gaffaney
788,1216524,Dubai,2020-10-27,WP Saha,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,88.0,N,NaN,AK Chaudhary,Nitin Menon
789,1216525,Dubai,2020-10-10,V Kohli,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,37.0,N,NaN,AK Chaudhary,PR Reiffel
790,1216526,Abu Dhabi,2020-10-16,Q de Kock,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,8.0,N,NaN,CB Gaffaney,VK Sharma
791,1216527,Sharjah,2020-09-27,SV Samson,Sharjah Cricket Stadium,0,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,N,NaN,RK Illingworth,K Srinivasan
792,1216528,Dubai,2020-10-13,RA Jadeja,Dubai International Cricket Stadium,0,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,Chennai Super Kings,runs,20.0,N,NaN,AK Chaudhary,PR Reiffel
793,1216529,Abu Dhabi,2020-10-11,Q de Kock,Sheikh Zayed Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,S Ravi
794,1216530,Dubai,2020-11-01,PJ Cummins,Dubai International Cricket Stadium,0,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Kolkata Knight Riders,runs,60.0,N,NaN,Nitin Menon,PR Reiffel
795,1216531,Sharjah,2020-10-15,KL Rahul,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,Kings XI Punjab,wickets,8.0,N,NaN,KN Ananthapadmanabhan,C Shamshuddin
796,1216532,Abu Dhabi,2020-09-29,Rashid Khan,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,15.0,N,NaN,VK Sharma,S Ravi
797,1216533,Abu Dhabi,2020-10-19,JC Buttler,Sheikh Zayed Stadium,0,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
798,1216534,Dubai,2020-09-21,YS Chahal,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Royal Challengers Bangalore,runs,10.0,N,NaN,AY Dandekar,Nitin Menon
799,1216535,Dubai,2020-10-31,Ishan Kishan,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,YC Barde,PR Reiffel
800,1216536,Dubai,2020-10-29,RD Gaikwad,Dubai International Cricket Stadium,0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,N,NaN,C Shamshuddin,RK Illingworth
801,1216537,Abu Dhabi,2020-10-30,BA Stokes,Sheikh Zayed Stadium,0,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,S Ravi
802,1216538,Sharjah,2020-10-04,TA Boult,Sharjah Cricket Stadium,0,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,runs,34.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
803,1216539,Dubai,2020-09-25,PP Shaw,Dubai International Cricket Stadium,0,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Delhi Capitals,runs,44.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
804,1216540,Sharjah,2020-10-12,AB de Villiers,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,82.0,N,NaN,RK Illingworth,K Srinivasan
805,1216541,Abu Dhabi,2020-10-25,BA Stokes,Sheikh Zayed Stadium,0,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,Rajasthan Royals,wickets,8.0,N,NaN,UV Gandhe,VK Sharma
806,1216542,Dubai,2020-10-08,JM Bairstow,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,69.0,N,NaN,AK Chaudhary,Nitin Menon
807,1216543,Dubai,2020-10-14,A Nortje,Dubai International Cricket Stadium,0,Delhi Capitals,Rajasthan Royals,Delhi Capitals,bat,Delhi Capitals,runs,13.0,N,NaN,AK Chaudhary,Nitin Menon
808,1216544,Dubai,2020-10-25,RD Gaikwad,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Chennai Super Kings,wickets,8.0,N,NaN,C Shamshuddin,RK Illingworth
809,1216545,Abu Dhabi,2020-09-26,Shubman Gill,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
810,1216546,Dubai,2020-10-20,S Dhawan,Dubai International Cricket Stadium,0,Delhi Capitals,Kings XI Punjab,Delhi Capitals,bat,Kings XI Punjab,wickets,5.0,N,NaN,C Shamshuddin,RK Illingworth
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon